# xG Dataset - EDA

## Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Loading data

In [ ]:
df = pd.read_csv("C:/Users/cerve/Desktop/DP/xG/Data/understat.csv")
df.head()

,Unnamed: 0,Unnamed: 1,position,team,matches,wins,draws,loses,scored,missed,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,...,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,...,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,...,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,...,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,...,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133

## Basic informations about dataset

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    684 non-null    object
 1   Unnamed: 1    684 non-null    int64
 2   position      684 non-null    int64
 3   team          684 non-null    object
 4   matches       684 non-null    int64
 5   wins          684 non-null    int64
 6   draws         684 non-null    int64
 7   loses         684 non-null    int64
 8   scored        684 non-null    int64
 9   missed        684 non-null    int64
 10  pts           684 non-null    int64
 11  xG            684 non-null    float64
 12  xG_diff       684 non-null    float64
 13  npxG          684 non-null    float64
 14  xGA           684 non-null    float64
 15  xGA_diff      684 non-null    float64
 16  npxGA         684 non-null    float64
 17  npxGD         684 non-null    float64
 18  ppda_coef     684 non-null    float64
 19  oppda_coef    684 non-null    float64
 20  deep          684 non-null    int64
 21  deep_allowed  684 non-null    int64
 22  xpts          684 non-null    float64
 23  xpts_diff     684 non-null    float64
dtypes: float64(11), int64(11), object(2)
memory usage: 128.4+ KB

- 684 entries
- 24 columns

In [14]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'position', 'team', 'matches', 'wins',
       'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG',
       'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep',
       'deep_allowed', 'xpts', 'xpts_diff'],
      dtype='object')

### Number of duplicates and missing values

In [15]:
df.duplicated().sum()

0

In [16]:
df.isna().sum()

Unnamed: 0      0
Unnamed: 1      0
position        0
team            0
matches         0
wins            0
draws           0
loses           0
scored          0
missed          0
pts             0
xG              0
xG_diff         0
npxG            0
xGA             0
xGA_diff        0
npxGA           0
npxGD           0
ppda_coef       0
oppda_coef      0
deep            0
deep_allowed    0
xpts            0
xpts_diff       0
dtype: int64

- 0 duplicates
- 0 NA values

Now, let's rename the first two columns according to what they really represent.

In [18]:
df = df.rename(columns={
    'Unnamed: 0': 'league',
    'Unnamed: 1': 'season_year'
})
df.head(5)

,league,season_year,position,team,matches,wins,draws,loses,scored,missed,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,...,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,...,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,...,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,...,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,...,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133

## One-dimensional EDA

In [19]:
print("Number of unique leagues:", df['league'].nunique())
print("Number of seasons:", df['season_year'].nunique())
print("Leagues:", df['league'].unique())
print("Season range:", df['season_year'].unique())

Number of unique leagues: 6
Number of seasons: 6
Leagues: ['La_liga' 'EPL' 'Bundesliga' 'Serie_A' 'Ligue_1' 'RFPL']
Season range: [2014 2015 2016 2017 2018 2019]

In [ ]:
# Only numeric variables
numeric_df = df.select_dtypes(include=['int64', 'float64'])

# Basic descriptive statistics
desc_stats = numeric_df.describe().T

# Additional statistics
desc_stats['variance'] = numeric_df.var()
desc_stats['range'] = numeric_df.max() - numeric_df.min()
desc_stats['skewness'] = numeric_df.skew()
desc_stats['kurtosis'] = numeric_df.kurtosis()

# Print it
desc_stats.round(2)